/* Resetting margin and padding for all elements */
*{
    margin: 0%;
    padding: 0%;
}

/* Styling for the body element */
Body{
    background-image: url("./img/world-flag-map-1.png");
    background-repeat: no-repeat;
    background-size: 300% 300%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 690px;
    width: 1400px;
    /* Rainbow animation */
    -webkit-animation: rainbow 18s ease infinite;
    -moz-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}

/* Styling for the level container */
#level{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    width: 300px;
    background-color: rgba(27, 17, 17, 0.336);
}

/* Styling for the h1 element */
h1{
    color: gold;
    font-family: Agbalumo; 
}

/* Styling for the level buttons */
#low,#med,#high,#disabled{
    width:250px;
    height: 50px;
    border: 4px solid rgb(226, 226, 17);
    border-radius: 100px;
    background-color: rgba(27, 17, 17, 0.479);
    color: rgb(239, 243, 247);
    font-size: 28px;
    cursor: pointer;
    font-family: Black Ops One;
    margin: 5px;
}

/* Styling for the button text and its animation */
#low span,#med span, #high span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

/* Styling for the button text arrow animation */
#low span:after,#med span:after,#high span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

/* Button hover effect */
#low:hover span,#med:hover span,#high:hover span {
    padding-right: 25px;
}

/* Arrow animation on button hover */
#low:hover span:after,#med:hover span:after,#high:hover span:after {
    opacity: 1;
    right: 0;
}

/* Button hover and active states */
#low:hover,#med:hover,#high:hover{
    background-color:rgb(226, 226, 17) ;
    color: rgb(0, 0, 0);
}

#low:active,#med:active,#high:active {
    transform: translateY(4px);
}

/* Styling for the disabled button */
#disabled{
    cursor: not-allowed;
    color: rgba(201, 191, 191, 0.726);
}

/* Rainbow animation keyframes */
@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:50% 19%}
    100%{background-position:0% 82%}
}

@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:50% 19%}
    100%{background-position:0% 82%}
}

@-o-keyframes rainbow {
    0%{background-position:0% 80%}
    50%{background-position:50% 19%}
    100%{background-position:0% 8%}
}

@keyframes rainbow { 
    0%{background-position:70% 80%}
    15%{background-position:100% 60%}
    30%{background-position:60% 100%}
    45%{background-position:2% 50%}
    50%{background-position:50% 19%}
    65%{background-position:20% 80%}
    80%{background-position:90% 30%}
    100%{background-position:40% 80%}
}

/* Styling for the sound, mute, and volume icons */
#sound{
    position: absolute;
    right: 1%;
    bottom: 1%;
}

#mute{
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

#volume{
    display: none;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}
