*{
    margin: 0%;
    padding: 0%;
    overflow: hidden;
}
 #india #photo{
    height: 690px;
    width: 960px;
    animation-name: example1;
    animation-duration: 24s;
    animation-iteration-count: infinite;
} 
.detail{
    right: 0%;
    top:0%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 690px;
    width: 400px;
}
#time{
    display: inline;
    position: absolute;
    right: 1%;
    top: 0.5%;
}
#timer{
    display: inline;
}
.flag{
    height: 84px;
    width: 152px;
    border: .1px solid rgba(63, 58, 58, 0.486);
}
.fq{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    font-family: Agbalumo;
}
.ques{
    margin-top: 10%;
    color: #0059ff;
}
h1{
    font-family: Agbalumo;
    font-size: 48px;
    background: linear-gradient(124deg,#00ffd5, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3,#1ddde8);
    background-size: 1800% 1800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
     animation: rainbow 18s ease infinite;
}
#options{
    display: flex;
    flex-direction: row; 
    margin-top: 1%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}
button{
    margin-top: 6%;
    width: 177px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(129deg,#fff,#e81d1d,#d62424,rgb(255, 0, 0));
    color: #fff;
    font-family: 'Edu TAS Beginner', cursive;
font-family: 'Oswald', sans-serif;
font-size: 21px;
}
.hint{
    margin-top: 10%;
    font-family:Edu TAS Beginner;
    font-size: 21px;
    margin-bottom: 1%;
    color: #ff2400;
}
@keyframes example1{
    0%{
      background-image: url("./img/India/1.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    33%{
      background-image: url("./img/India/2.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    66%{
      background-image: url("./img/India/3.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    100%{
      background-image: url("./img/India/4.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
}
 @-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
#india{
    display: block;
 }
 #australia{
    display: none;
  }
  #brazil{
    display: none;
  }
  #canada{
    display: none;
  }
  #china{
    display: none;
 }
 #egypt{
    display: none;
  }
 #france{
    display: none;
 }
 #germany{
    display: none;
 }
 #italy{
    display: none;
 }
 #japan{
    display: none;
 }
#australia #photo{
    height: 690px;
    width: 960px;
    animation-name: example2;
    animation-duration: 24s;
    animation-iteration-count: infinite;
}
#brazil #photo{
    height: 690px;
    width: 960px;
    animation-name: example3;
    animation-duration: 24s;
    animation-iteration-count: infinite;
}
#canada #photo{
    height: 690px;
    width: 960px;
    animation-name: example4;
    animation-duration: 24s;
    animation-iteration-count: infinite;
}
#china #photo{
    height: 690px;
    width: 960px;
    animation-name: example5;
    animation-duration: 24s;
    animation-iteration-count: infinite;
}
#egypt #photo{
    height: 690px;
    width: 960px;
    animation-name: example6;
    animation-duration: 24s;
    animation-iteration-count: infinite;
}
#france #photo{
    height: 690px;
    width: 960px;
    animation-name: example7;
    animation-duration: 24s;
    animation-iteration-count: infinite;
}
#germany #photo{
    height: 690px;
    width: 960px;
    animation-name: example8;
    animation-duration: 24s;
    animation-iteration-count: infinite;
}
#italy #photo{
    height: 690px;
    width: 960px;
    animation-name: example9;
    animation-duration: 24s;
    animation-iteration-count: infinite;
}
#japan #photo{
    height: 690px;
    width: 960px;
    animation-name: example10;
    animation-duration: 24s;
    animation-iteration-count: infinite;
}
@keyframes example2{
    0%{
      background-image: url("./img/australia/1.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    33%{
      background-image: url("./img/australia/2.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    66%{
      background-image: url("./img/australia/3.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    100%{
      background-image: url("./img/australia/4.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
}
@keyframes example3{
    0%{
      background-image: url("./img/brazil/_3115ab12-7425-4156-81f6-af03005a569f.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    33%{
      background-image: url("./img/brazil/_51905681-425b-48f0-bdd7-b799c2125c51.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    66%{
      background-image: url("./img/brazil/_5dd46d9d-e3dc-4706-9abe-45c47a804e64.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    100%{
      background-image: url("./img/brazil/_d44fe1fd-b00e-4203-9dea-637ab7de6d1d.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
}
@keyframes example4{
    0%{
      background-image: url("./img/canada/_01e1e8e4-6387-4492-990d-f260c1522a0e.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    33%{
      background-image: url("./img/canada/_11382ecd-4aa6-41db-92b4-039d14720a55.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    66%{
      background-image: url("./img/canada/_7c85547f-ca19-4a9e-8dfb-acb486fdc7f6.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    100%{
      background-image: url("./img/canada/_bea59274-8591-4e04-b4da-364cac84d4be.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
}
@keyframes example5{
    0%{
      background-image: url("./img/china/_070d6088-cfd9-4c6e-aa85-9a54d5902908.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    33%{
      background-image: url("./img/china/_7ebee9cc-d7cd-4dcc-a942-4836a73cd8fe.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    66%{
      background-image: url("./img/china/_a03f9e7d-bd9b-4cb6-9323-06be7a4f00a2.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    100%{
      background-image: url("./img/china/_ad9678b6-4ede-495b-b7e9-caf98f4ecef9.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
}
@keyframes example6{
    0%{
      background-image: url("./img/egypt/_2bd2ca61-4c43-49a8-bb42-0f99117af202.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    33%{
      background-image: url("./img/egypt/_3509a099-de1f-4cd7-9f53-f3c060a50995.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    66%{
      background-image: url("./img/egypt/_a8373983-2d2e-4580-b8c7-4bba03bd49f2.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    100%{
      background-image: url("./img/egypt/_ee6d1e47-efad-4d56-be5e-cb14effc265f.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
}
@keyframes example7{
    0%{
      background-image: url("./img/france/_3fa6f0d7-a06e-4b27-918a-1349f096a4e5.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    33%{
      background-image: url("./img/france/_94da04d7-e860-4c32-96ff-41ea04b5493a.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    66%{
      background-image: url("./img/france/_b0bdce24-d836-4528-b53e-7a8ac389834c.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    100%{
      background-image: url("./img/france/_d1329ca5-00cd-4a18-8781-8df6469405ce.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
}
@keyframes example8{
    0%{
      background-image: url("./img/germany/_492050a0-d27d-4c38-a0c0-3dab1daf56a0.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    33%{
      background-image: url("./img/germany/_59b8cd0f-06e2-4a2f-a252-519281c85dd6.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    66%{
      background-image: url("./img/germany/_832ba0f4-bbd5-43b1-ba66-ac7a3abc2a2e.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    100%{
      background-image: url("./img/germany/_8fcabc53-218c-4891-a4af-cb4580068cd9.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
}
@keyframes example9{
    0%{
      background-image: url("./img/italy/_0db27fe5-f056-444c-b77b-d007cab80905.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    33%{
      background-image: url("./img/italy/_50a91aba-f456-4849-bc98-a9275afbc719.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    66%{
      background-image: url("./img/italy/_51d1c200-de23-4441-a967-c3c40825ac93.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    100%{
      background-image: url("./img/italy/_d8efc30f-b597-4968-8cf8-1d47cc9dd404.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
}
@keyframes example10{
    0%{
      background-image: url("./img/Japan/_b1995f81-826c-43ea-9876-c49a1724b3b1.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    33%{
      background-image: url("./img/Japan/_c56f8265-a3e5-43f7-ba6e-fff88c71cd0a.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    66%{
      background-image: url("./img/Japan/_cf1466f0-c741-455c-8ffa-6f093b68db8e.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
    100%{
      background-image: url("./img/Japan/_e8fed2cf-1b76-4692-b0a0-696f3001c2d9.jpg");
      /* background-size: 100% 100%;  */
      background-repeat: no-repeat;
      background-attachment: fixed; 
    }
}
button:hover{
    background: linear-gradient(129deg,#fff,#1de840,#36ff57,#00ff2a,#008a17);
    cursor: pointer;
    color: rgb(238, 255, 0);
}
.button:active {
    transform: translateY(4px);
}
#sound{
  position: absolute;
  right: 1%;
  bottom: 1%;

}
#mute{
  display: block;
  height: 20px;
  width: 20px;

  border-radius: 10px;
}
#volume{
  display: none;
  height: 20px;
  width: 20px;

  border-radius: 10px;
}
