/* Resetting margin and padding for all elements */
*{
    margin: 0%;
    padding: 0%;
}

/* Styling for the main photo container */
#photo{
    height: 690px;
    /* width: 1000px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Styling for different sections */
#section-1, #section-2, #section-3, #section-4, #section-5{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

/* Styling for images */
img{
    height: 100px;
    width: 100px;
}

/* Styling for an absolute position element */
#abs{
    position: absolute;
    top:10%;
    right: 8%;
    visibility: visible;
}

/* Styling for a form container */
#form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(38, 39, 39, 0.466);
    height: 570px;
    width: 300px;
}

/* Styling for titles and headings */
.title{
    font-family: 'Kenia', sans-serif;
    font-size: 21px;
    color:#ffee00;
}

h2{
    /* font-family: 'Kenia', sans-serif; */
    font-family: 'Lobster', sans-serif;
    color:#fff;
    font-size: 33px;
}

h1{
    /* Styling for a gradient text effect */
    font-family: Agbalumo;
    margin-top: 1%;
    font-size: 48px;
    background: linear-gradient(124deg,#00ffd5, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3,#1ddde8);
    background-size: 1800% 1800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}

/* Styling for input elements */
input{
    height:28px;
    width: 250px;
}

/* Keyframe animation for the rainbow effect */
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}

/* Styling for an absolute position element */
#abs1{
    position: absolute;
    top:3%;
    right: 12%;
    left: 12%;
    visibility:hidden;
}

/* Styling for a how-to-play container */
#htp{
    font-size: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(238, 255, 0, 0.93);
    height: 620px;
    width: 1000px; 
    color: rgb(0, 0, 0);
    border-radius: 50px;
    font-family: 'Edu TAS Beginner', cursive;
}

/* Styling for an exit button */
#exit{
    background:none;
    position: absolute;
    right: 2%;
    top: -2%;
    border: none;
}

/* Styling for 'x' icon */
#x{
    width: 60px;
    height: 60px;
}

/* Styling for active state of a button */
button:active {
    transform: translateY(4px);
}

/* Styling for list items */
ul{
    text-decoration: none;
    list-style: none;
}

/* Styling for button span and its hover effect */
#button1 span, #button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#button1 span:after, #button2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#button1:hover span, #button2:hover span {
    padding-right: 25px;
}

#button1:hover span:after, #button2:hover span:after {
    opacity: 1;
    right: 0;
}

/* Styling for sound and mute buttons */
#sound{
    position: absolute;
    right: 1%;
    bottom: 1%;
}

#mute{
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

#volume{
    display: none;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}
